body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #FFADF0;
    padding-bottom: 50px;
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Secular One', sans-serif;
    font-weight:bolder;
    line-height: 3;
    size: 3.5rem;
    line-height: 1.5;
}

.btn{
    text-align: center;
}

/* navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 16px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: normal;
}

.download-btn{
    margin: 5% 3% 5% 0;
}

/* title-img */

.section-img{
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 25%;
}
/* features */

#features{
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

.feature-section{
    padding: 4rem 7rem 4rem 7rem;
}

.feature{
    padding: 3rem 3rem 3rem 3rem;
}

.feature-img{
    font-size: 6rem;
    color: tomato;
    margin: auto auto 3rem auto;
}

.feature-img:hover{
    color: plum;
}

.feature-section h3{
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
}

.feature-section p{
    color: gray;
    font-size: 1rem;

}

/* Testimonials */

#testimonials{
    text-align: center;
    background-color: tomato;
    color: whitesmoke;
}

#testimonials h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px
}

.carousel-item{
    padding: 7% 15%;
}


/* press-section */

#press{
    background-color: tomato;
    text-align: center;
    padding-bottom: 3%;

}

#press img{
    width: 15%;
    margin: 20px 20px 30px;
}

/* pricing section */

#pricing{
    padding: 100px;
}

.tables{
    padding-bottom: 40px;
}

.define-pricing{
    margin-bottom: 60px;
}

/* call to action */

#cta{
    
    font-weight: bolder;
    padding: 7% 15%;
    background-color: plum;
    text-align: center;
}

#cta h3 { 
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    
}

/* footer */

#footer{
    line-height: 2;
    text-align: center;
    background-color: white;
    margin: 7% 15%
}

.footer-icons{
    font-size: 25px;
    
}

.footer-icon{
    padding: 5px;
}




@media (max-width:1020px) {

    h1{
        width: 50%;
        margin-left: 160px;
    }


    #title{
        text-align: center;
    }

    .section-img{
         position: static;
         width: 40%;
         transform: none;
    }

}